*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{ 
      background-image: url(./graphics/image1.jpg);
  
  }
  /* -----------------------------------------nav bar Section------------------------------------------ */
  #nav-bar
  {
      position: sticky;
      top: 0;
      z-index: 10;
      
      
      
  }
  .navbar
  {
      background-image: linear-gradient(to left, #403b4a, #8c90b1);
      padding: 5 !important;
      text-shadow: 1px 1px 0px #dcdce5;
      font-weight: 500;
      box-shadow:  5px 4px 5px #332e3d;
     
      
  }
  
  .nav-link:hover{
    background-color: #dcdce5;
    color: #222;
    border-radius: 15%;
  }
  
  /* -----------------------------------------Banner Section------------------------------------------ */
  
  #banner
  {
      padding: 10 !important;
  
  }
  
  
  
  .promo-title
  {
      text-shadow: 5px 4px 2px #332e3d;
      font-family: Verdana  ;
      color: #dcdce5;
      font-size: 55px;
      font-weight: 600;
      margin-top: 80px;
      margin-bottom: 5px;
      animation: text 2s 1 ;
  }
  .designation
  {
      font-family: Verdana  ;
      color: #dcdce5;
      text-shadow: 2px 2px 2px #332e3d;
      font-size: 22px;
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 50px
  }
  
  
  .prof-pic
  {
      
      padding-top: 0%;
      padding-bottom: 0%;
      height: 300%;
      border-radius: 100%;
      margin-top: 5%;
      
      
      
      
      box-shadow: 3px 6px 5px  #403b4a;
      -moz-border-radius:100px;
  
  }
  
  
  
  .prof-pic {
    width: 30%;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  @keyframes stretch {
    0% {
      transform: scale(-.3);
    }
    
    100% {
      transform: scale(1);
    }
  }
  
  
  /* -----------------------------------------crousel Section------------------------------------------ */
  .d-block 
  {   
      width: auto;
      height: auto;
      margin-left: 0%;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-right: 5%;
  
  }
  
  #carouselExampleIndicators
  {
  
    align-content: center;
    width: auto;
      
    max-height: auto;
   padding-right: 4rem;
   padding-left: 4rem;
   padding-bottom: 1rem;
  
  }
  
  .About-title
  {
  
      text-shadow: 5px 4px 2px #332e3d;
      font-family: AR BERKLEY  ;
      color: #dcdce5;
      font-size: 40px;
      font-weight: 500;
      margin-top: 80px;
      margin-bottom: 3px;
      margin-left: 35%;
  }
  .about
  {
      font-family: Verdana  ;
      color: #dcdce5;
      text-shadow: 2px 2px 2px #332e3d;
      font-size: 22px;
      font-weight: 500;
      margin-top: 0px;
      margin-left: 10px;
  
  }
  .skills-title
  {
      text-shadow: 5px 4px 2px #332e3d;
      font-family: AR BERKLEY ;
      color: #dcdce5;
      font-size: 40px;
      font-weight: 500;
      margin-top: 60px;
      margin-bottom: 3px;
      margin-left: 40%;
  
  }
  ul#skills li 
  {
      list-style-type: circle;
      font-family: Verdana  ;
      color: #dcdce5;
      text-shadow: 2px 2px 2px #332e3d;
      font-size: 22px;
      font-weight: 500;
      padding: 10px;
  }
  
  /* -----------------------------------------footer Section------------------------------------------ */
  
  #footer
  {
      padding: 10 !important;
  }
  
  .form-group
  {
      font-family: Verdana  ;
      color: #dcdce5;
      padding: 10px !important;
      font-size:15px;
      font-weight: 500;
      margin-left: 10px;
      margin-bottom: 80px !important;
  
  }
  .form-group
  {
      width: auto;
      
      height: 20px;
      margin-left: 10%;
      margin-top: 0;
      margin-bottom: 10%;
      margin-right: 10%;
  
  }
  .contact-title
  {
      text-shadow: 3px 2px 2px #332e3d;
      font-family: Verdana  ;
      color: #dcdce5;
      font-size: 30px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 5px;
  
  }
  
  .button {
      display: inline-flex;
      justify-content: center;
      padding: 25px;
      color: white;
      text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
      transition: all 250ms;
      position: relative;
      margin: 4% 2% 4% 2%;
    }
    .button.twitter {
      background-color: #09f;
    }
    .button.twitter:hover, .button.twitter:hover {
      background-color: #4db8ff;
    }
    
    .button.facebook {
      background-color: #469;
    }
    .button.facebook:hover, .button.facebook:hover {
      background-color: #6c8dbe;
    }
    
    .button.github {
      background-color: #222;
    }
    .button.github:hover, .button.github:hover {
      background-color: #484848;
    }
    
    .button.google-plus {
      background-color: #d43;
    }
    .button.google-plus:hover, .button.google-plus:hover {
      background-color: #e88075;
    }
    
    .button.linkedin {
      background-color: #07d;
    }
    .button.linkedin:hover, .button.linkedin:hover {
      background-color: #2b9dff;
    }
    
    .button.pinterest {
      background-color: #c22;
    }
    .button.pinterest:hover, .button.pinterest:hover {
      background-color: #e35757;
    }
    
    .button:focus, .button:hover {
      cursor: pointer;
    }
    
    /* styling */
   
    #wrap {
      box-sizing: border-box;
      display: block;
      vertical-align: middle;
      padding: 20% 10% 20% 10%;
      
      padding-bottom: 10%;
      padding-left: 15%;
    }
  
    .button {
      width: 30%;
      visibility: visible;
      animation-name: stretch;
      animation-duration: 1.5s; 
      animation-timing-function: ease-out; 
      animation-direction: alternate;
      animation-iteration-count: 1;
      animation-fill-mode: none;
      animation-play-state: running;
      
    }
    
    @keyframes stretch {
      0% {
        transform: scale(-.3);
      }
      
      100% {
        transform: scale(1);
      }
    }
  
  
  /*--------------------------------Project Page styling starts--------------------------------------*/
  
  /* Fonts used in Blog Post Page
  
  font-family: 'Nova Cut', cursive;
  font-family: 'Red Hat Text', sans-serif;
  font-family: 'Red Rose', cursive;
  font-family: 'Redressed', cursive;
  */
  
  
  #blogPost .container{
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  
  
  
  .blog-text{
    size:16px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 25px;
    padding-right: 75px;
    color: #dcdce5;
  }
  
  #blogPost .container .col-md-9 hr{
  
    border: 0.5px solid #dcdce5;
  
  }
  
  .blog-like {
  
    margin-top: -10px;
    margin-left: 60px;
    padding-bottom: 1%;
    display: flex;
    color: #e9e2a5;
  
  }
  
  .blog-like .col-md-6 p{
  font-family: 'Red Rose', cursive;
  }
  
  .blog-like .col-md-6 p::before {
    content: "By - ";
    color: #e9e2a5;
  }
  
  .blog-like .fab{
  
    margin-right: 8px;
  }
  
  .blog-like .col-md-3{
  
    display: flex;
  
  }
  
  .blog-like .col-md-3 .far.fa-heart::after{
  content: " 10 ";
  color: #e9e2a5;
  
  }
  
  
  .row-md-4 hr{
    
    margin-bottom: 5px;
    margin-top: 70px;
  
  }
  
  
  
  .row-md-4{
  
    text-align: center;
    margin-top: -15px;
  }
  
  .row-md-4 h4{
    font-family: 'Red Hat Text', sans-serif;
    size: 26px;
  }
  
  .social-blogpost{
    display: flex;
    justify-content: space-between;
    color: #dcdce5;
  
  }
  
  
  .latestPosts-title, .connectAndFollow-title{
  
    margin-bottom: 37px;
    color: #e9e2a5;
    
  }
  
  .latestPosts .row-md-4{
  
    display: flex;
    justify-content:space-between;
    padding-bottom: 10px !important;
  }
  
  .latestPosts .row-md-4 .col-md-6 img{
  height: 110px !important;
  }
  
  
  .latestPosts .row-md-4 .col-md-6 h6{
    font-family: 'Red Rose', cursive;
    size: 17px;
    color: #dcdce5;
  
    font-weight: 400px;
    text-align: left;
    margin-left: -10px;
    margin-right: -10px;
  
  }
  
  .latestPosts .row-md-4 .col-md-6 p{
  
    color: #e9e2a5;
    font-family: 'Red Rose', cursive;
    font-weight: 400px;
    size: 12px !important;
    line-height: 15px;
    text-align: left;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  
  .question{
    font-weight: bold;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 5px;
  }

  /*----------------------------- Calculator styling ------------------------------*/

  .formstyle{
    background-color: black;
    float:left;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
}
#clear{
float: right;
border-radius: 5px;
	padding: 20px;
	background-image: linear-gradient(225deg, rgb(255, 251, 0),red);
}
 #clear:hover,#calc:hover{
    background-image: radial-gradient(rgb(255, 251, 0),red);
 }

input
{

background-image: linear-gradient(50deg, rgb(4, 123, 163), rgb(233, 18, 215));
color: white;
	border-radius: 5px;
	padding: 30px;
	margin: 5px;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
    text-align: center;
}

input:hover{
    background-image: radial-gradient(rgb(4, 123, 163), rgb(233, 18, 215));
 
}


#calc{
    width: 200px;
	border-radius: 5px;
	padding: 20px;
	margin: 5px;
    background-image: linear-gradient(225deg, rgb(255, 251, 0),red);
    font-size: 20px;
}